@page
@model BooksStore.Pages.Formats.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Format</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Format.formatType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Format.formatType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Format.dateAdded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Format.dateAdded)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Format.formatID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
