@page
@model BooksStore.Pages.Countries.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Country[0].countryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country[0].Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country[0].keyCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country[0].dateAdded)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Country) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.countryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.keyCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateAdded)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CountryID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CountryID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CountryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
